#username 
  width 200px
  height 40px
  display block

#category 
  margin-left 10px
  width 200px
  height 40px
  display block

#habit 
  margin-left 10px
  width 200px
  height 40px
  display block

#timesperweek 
  margin-left 10px
  width 200px
  height 40px
  display block

h1 
  color green

.input-form 
  width 200px

#login-btn
  width 200px

#user-line
  width 400px

.thumb 
    width 24px
    height 24px
    float none
    position relative
    top 7px

form .progress 
    line-height 15px

.progress 
    display inline-block
    width 100px
    border 3px groove #CCC

.progress div 
    font-size smaller
    background orange
    width 0