<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
 <link rel='stylesheet' href='/app.css'>
</head>
<body ng-app='app' ng-controller='ApplicationCtrl' >
  <nav class='navbar navbar-default'>
    <div class='container'>
      <ul class='nav navbar-nav'>
        <!-- <li><a href='/#/habits'>Habits</a></li> -->
        <li ng-if='!currentUser'><a href='/#/register'>Register</a></li>
        <li><a href='/#/forms'>Form</a></li>
        <li><a href='/#/admin'>Admin</a></li>
        <li ng-if='!currentUser'><a href='/#/'>Login</a></li>
        <li ng-if='currentUser'><a class='btn btn-default' ng-click='switchLoginStatus()' href='/#/logout'>Logout</a></li>
      </ul>
      <p ng-if='currentUser' class="navbar-text navbar-right">
        Signed in as {{currentUser.username}}
      </p>
    </div>
  </nav>
  <div ng-view></div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js'></script>
  <script src='/app.js'></script>

</body>
</html>
