<div ng-controller='FormsCtrl' class='container'>
  <h1>Form</h1> 
  <span style='display: inline-block; z-index: 10; margin-left: 750px;' class='input-group-btn'>
      <button ng-if="!user.current_form || !USER_FORM_UP_TO_DATE" ng-click='addNewForm()' class='btn btn-default post-btn'>Add New Form</button>
      <button ng-if="USER_FORM_UP_TO_DATE" ng-click='updateForm()' class='btn btn-default post-btn'>Update Form</button>
  </span>
  <h2>Current Success Rate : {{ SUCCESS_RATE*100 }}%</h2>

  <div ng-show='!USER_HAS_CURRENT_HABIT_ATTRIBUTE'>
    <h3>Set Habit</h3>
    <form role='form'>
      <div class='form-group'>
        <div class='input-group'>

          <input ng-model='user.name' class='form-control' placeholder='user.name' id='username' />
          <select ng-model='category' class="form-control" id='category'>
            <option value="" selected disabled>Category</option>
            <option>Physical</option>
            <option>Spiritual</option>
            <option>Intellectual</option>
            <option>Other</option>
          </select>
          <input ng-model='description' class='form-control' placeholder='description' id='habit' />
          <input ng-model='timesperweek' class='form-control' placeholder='timesperweek' id='timesperweek' />

          <span class='input-group-btn'>
            <button ng-click='addHabit()' class='btn btn-default post-btn'>Add Habit</button>
          </span>
        </div>
      </div>
    </form>
  </div>

    <form role='form' ng-hide='no_habit'>
      <div class='form-group'>
        <div class='input-group'>
          <li>Name: {{ user.name }} </li>
          <li>Category: {{ habit.category }} </li>
          <li>Description: {{ habit.description }} </li>
          <li>TimesPerWeek: {{ habit.timesperweek }} </li>
           <li>Week: {{ current_week_of_user.checks }} </li>
           <li>DAYS: {{ DAYS }} </li>

           <!-- SUNDAY --> 
          <div style='width: 200px;' class="checkbox" >
            <div style='margin-top: 20px; margin-bottom:10px;'>{{ current_week_of_user.checks[0].day }}</div>
            <label> <!-- ng-class: applyDisabled(day.complete); -->
              <span ng-click='switchDayComplete(0)' ng-show='DAYS.sunday_complete'><button type="button" class="btn btn-success">Complete</button></span>
              <span ng-click='switchDayComplete(0)' ng-show='!DAYS.sunday_complete'><button type="button" class="btn btn-warning">Incomplete</button></span>
            </label>
          </div>
           <!-- MONDAY -->
          <div style='width: 200px;' class="checkbox " >
            <div style='margin-top: 20px;'>{{ current_week_of_user.checks[1].day }}</div>
            <label> 
              <span ng-click='switchDayComplete(1)' ng-show='DAYS.monday_complete'><button type="button" class="btn btn-success">Complete</button></span>
              <span ng-click='switchDayComplete(1)' ng-show='!DAYS.monday_complete'><button type="button" class="btn btn-warning">Incomplete</button></span>
            </label>
          </div>
          <!-- TUESDAY -->
          <div style='width: 200px;' class="checkbox " >
            <div style='margin-top: 20px;'>{{ current_week_of_user.checks[2].day }}</div>
            <label> 
              <span ng-click='switchDayComplete(2)' ng-show='DAYS.tuesday_complete'><button type="button" class="btn btn-success">Complete</button></span>
              <span ng-click='switchDayComplete(2)' ng-show='!DAYS.tuesday_complete'><button type="button" class="btn btn-warning">Incomplete</button></span>
            </label>
          </div>
          <!-- WEDNESDAY -->
          <div style='width: 200px;' class="checkbox " >
            <div style='margin-top: 20px;'>{{ current_week_of_user.checks[3].day }}</div>
            <label> 
              <span ng-click='switchDayComplete(3)' ng-show='DAYS.wednesday_complete'><button type="button" class="btn btn-success">Complete</button></span>
              <span ng-click='switchDayComplete(3)' ng-show='!DAYS.wednesday_complete'><button type="button" class="btn btn-warning">Incomplete</button></span>
            </label>
          </div>
          <!-- THURSDAY -->
          <div style='width: 200px;' class="checkbox " >
            <div style='margin-top: 20px;'>{{ current_week_of_user.checks[4].day }}</div>
            <label> 
              <span ng-click='switchDayComplete(4)' ng-show='DAYS.thursday_complete'><button type="button" class="btn btn-success">Complete</button></span>
              <span ng-click='switchDayComplete(4)' ng-show='!DAYS.thursday_complete'><button type="button" class="btn btn-warning">Incomplete</button></span>
            </label>
          </div>
          <!-- FRIDAY -->
          <div style='width: 200px;' class="checkbox " >
            <div style='margin-top: 20px;'>{{ current_week_of_user.checks[5].day }}</div>
            <label> 
              <span ng-click='switchDayComplete(5)' ng-show='DAYS.friday_complete'><button type="button" class="btn btn-success">Complete</button></span>
              <span ng-click='switchDayComplete(5)' ng-show='!DAYS.friday_complete'><button type="button" class="btn btn-warning">Incomplete</button></span>
            </label>
          </div>
          <!-- SATURDAY -->
          <div style='width: 200px;' class="checkbox " >
            <div style='margin-top: 20px;'>{{ current_week_of_user.checks[6].day }}</div>
            <label> 
              <span ng-click='switchDayComplete(6)' ng-show='DAYS.saturday_complete'><button type="button" class="btn btn-success">Complete</button></span>
              <span ng-click='switchDayComplete(6)' ng-show='!DAYS.saturday_complete'><button type="button" class="btn btn-warning">Incomplete</button></span>
            </label>
          </div>

        </div>
      </div>
    </form>
</div>