<div ng-controller='FormsCtrl' class='container'>
    <h1>Form</h1>

  <div ng-show='no_habit'>
    <h3>Set Habit</h3>
    <form role='form'>
      <div class='form-group'>
        <div class='input-group'>

          <input ng-model='user.name' class='form-control' placeholder='user.name' id='username' />
          <select ng-model='category' class="form-control" id='category'>
            <option value="" selected disabled>Category</option>
            <option>Physical</option>
            <option>Spiritual</option>
            <option>Intellectual</option>
            <option>Other</option>
          </select>
          <input ng-model='description' class='form-control' placeholder='description' id='habit' />
          <input ng-model='timesperweek' class='form-control' placeholder='timesperweek' id='timesperweek' />

          <span class='input-group-btn'>
            <button ng-click='addHabit()' class='btn btn-default post-btn'>Add Habit</button>
          </span>
        </div>
      </div>
    </form>
  </div>

    <form role='form' ng-hide='no_habit'>
      <div class='form-group'>
        <div class='input-group'>
          <li>Name: {{ user.name }} </li>
          <li>Category: {{ user.current_habit.category }} </li>
          <li>Habit: {{ user.user.current_habit.description }} </li>
          <li>TimesPerWeek: {{ user.current_habit.timesperweek }} </li>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Sunday
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Monday
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Tuesday
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Wednesday
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Thursday
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Friday
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Saturday
            </label>
          </div>
          <span class='input-group-btn'>
            <button ng-click='addForm()' class='btn btn-default post-btn'>Add Form</button>
          </span>
        </div>
      </div>
    </form>
</div>

<!-- 
A form allowing user to check off completion of each of their habits for each day in a week. 
Form is displayed one week at a time. 
Form includes weekly goal and current success rate.
 -->